*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: aliceblue;
}
img{
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;
    text-decoration-line: underline;
}

.flex-container{
    display: flex;
    height: 20%;
    /* justify-content: space-around; */

}

.msg{
    margin-left: 15%;
    font-family: sans-serif;
    margin-top: 3%;
    font-size: large;
}

.item1{
    max-width: 300px;
    max-height: min-content;
    margin-left: 19%;
    margin-top: 3%;
}

.item2{
    font-family: sans-serif;
    font-size: larger;
    margin-top: 2%;
    margin-left: 3%;
}

input{
    width: 300px;
    height: 20px;
}

textarea{
    width: 300px;
    height: 30px;
}

#QueryForm{
    font-family: sans-serif;
    margin-left: 10%;
    
}

/* Styling the footer */
footer {
    background-color: #A3A5A4;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  a{
    color: white;
    display: inline ;
  }