/* *{
    margin: 0%;
    padding: 0%;
} */

body{
    background: url(/Assets/Gr.jpg) beige no-repeat center;
}

h1{
    text-align: center; 
    text-decoration-line: underline;
}

#description{
    width: 1000px;
    height: 200px;
    
}

/* Styling the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  a{
    color: white;
  }
  