*{
    margin: 0%;
    padding: 0%;
} 

body{
    background: url(/Assets/Gr.jpg) aliceblue no-repeat center;
}

h1{
    text-align: center; 
    text-decoration-line: underline;
}

#description{
    width: 1000px;
    height: 200px;
    
}

#intro{
   align-items: center;
   margin-left: 10%;
   font-family: sans-serif;
}

#tech{
    align-items: center;
    margin-left: 15%;
    font-family: sans-serif;
}

#skills{
    align-items: center;
    margin-left: 8%;
    font-family: sans-serif;
}

.flex-container{
    display: flex;
    height: 30%;
    justify-content: space-around;
    flex: 1;
}

#video{
    align-items: self-end;
    margin-left: 2%;
} 

/* Styling the footer */
footer {
    background-color: #A3A5A4;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  a{
    color: white;
  }
  